---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/index.scss";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			Welcome to the
			<span class="text-gradient">Football Manager Companion App</span>
		</h1>
		<ul role="list" class="link-card-grid">
			<!-- <Card href="#" title="Create Squad" body="Create a new squad" /> -->
			<Card href="/squad" title="My Squad" body="Show my squad" />
		</ul>
	</main>
</Layout>