---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card/Card.astro";
import "../styles/index.scss";
---

<Layout title="Welcome to Astro.">
	<main>
		<ul role="list" class="link-card-grid">
			<Card href="/squad" title="My Squad" description="Show my squad" />
			<Card href="/" title="Versus Play" description="Coming soon" />
			<Card href="/" title="Trades" description="Coming soon" />
			<Card href="/" title="Store" description="Coming soon" />
		</ul>
	</main>
</Layout>