---
import Layout from "../layouts/Layout.astro";
import Arena from "../modules/battle_arena/Arena.vue";
import '../styles/pages/versus.scss';
---

<Layout title="Game Arena">
    <main>
        <Arena/>
    </main>
</Layout>