---
import "./style.scss";
---

<div id="main-container">
    <div id="score-container">
        <div>
            <h2>Player 1:</h2>
        </div>
        <div>
            <h2>CPU:</h2>
        </div>
    </div>

    <div id="top-trumps-container">
        <div id="p1-current">
            <h2>Players Card</h2>
        </div>
        <div id="p2-current">
            <h2>CPU Card</h2>
        </div>
    </div>

    <div id="button-container">
        <div>
            <button id="reset-btn">Play Again?</button>
        </div>

        <div id="stat-btns">
            <button id="btn-pace">Pace</button>
            <button id="btn-shooting">Shooting</button>
            <button id="btn-passing">Passing</button>
            <button id="btn-dribbling">Dribbling</button>
            <button id="btn-defending">Defending</button>
            <button id="btn-physical">Physical</button>
        </div>
    </div>
</div>
